header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;

}

.header_container {
    padding-top: 0.5rem;
    text-align: center;
    height: 100%;
    position: relative;
}

/* *************** CTA ************** */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* *************** HEADER SOCIALS ************** */
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* *************** ME ************** */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 22rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    overflow: hidden;
    padding: 0;
    
    /* Makes the div rounded */
    border-radius: 50%; /* Adjust as needed */
    
    /* Centers content inside */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 
    /* Ensures the image inside fits properly */
    text-align: center;
 }

 .me img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the container */
    border-radius: 50%; /* Makes the image itself rounded */
 }


/* *************** SCROLL DOWN ************** */
.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}


/* *************** MEDIA QUERIES (MEDIUM DEVICES) *************** */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* *************** MEDIA QUERIES (SMALL DEVICES) *************** */
@media screen and (max-width: 600px) {
    header {
        height: vh;
    }

    .header_socials,
    .scroll_down {
        display: none;
    }

}

/* Responsive adjustments */
@media (max-width: 1024px) { /* Medium devices (Tablets) */
    .me {
        width: 18rem;
        height: 24rem;
        left: calc(50% - 9rem);
    }
 }
 
 @media (max-width: 768px) { /* Small devices (Phones) */
    .me {
        width: 14rem;
        height: 18rem;
        left: calc(50% - 7rem);
    }
 }

/* Ensure the image fits well */
.me img {
   width: 100%;
   height: 100%;
   object-fit: cover; /* Keeps image proportions */
   border-radius: 50%;
}

